
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h1>Đăng ký thành công</h1>
@Html.ActionLink("Click vào đây để chuyển tới trang đăng nhập", "Login", "User");

