.duongdan {
    width: 940px;
    margin: auto;
    color: #fff;
}

    .duongdan a {
        margin: 0 0 10px 0;
        display: inline-block;
        font-size: 14px;
        border: 1px solid #599806;
        text-decoration: none;
        color: #599806;
        padding: 4px 15px;
        padding-right: 7px;
    }

        .duongdan a:first-child {
        }

        .duongdan a:last-child {
            color: white;
            background-color: #599806
        }

.trang {
    display: flex;
}

.text {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    
}

.danh-sach {
    margin-left:150px;
}

.danh-sach-bot {
}


.danh-sach-sp {
}

.tie {
}

.tie-indent {
    margin-bottom: 20px;
    background-color: #fff;
    width: 80%;
    height: auto;
}

.wrapper-top,
.wrapper-bot {
    padding-top: 8px;
    margin: 16px;
}

.wrapper-top {
    display: flex;
}

    .wrapper-top .left {
        margin-top: 8px;
    }

        .wrapper-top .left > a > img {
            width: 175px;
            height: 130px;
            border: 2px solid #ccc;
        }

    .wrapper-top .right {
        margin: 8px 20px;
    }

        .wrapper-top .right .line {
            margin-top: 20px;
            width: 500px;
            height: 0.1px;
            border: 1px solid #ccc;
            margin-bottom: 16px;
        }

        .wrapper-top .right a {
            font-size: 20px;
            text-decoration: none;
            color: #f09706;
            font-weight: 400;
        }

        .wrapper-top .right .price {
            margin: 8px 0px;
            color: red;
            font-size: 24px;
            font-weight: 600;
        }

        .wrapper-top .right .input {
            padding: 4px;
            margin-top: 4px;
            font-size: 16px;
            background-color: red;
            height: 24px;
            width: 80px;
            color: #fff;
            border: 1px solid #333;
            border-radius: 3px;
        }

.wrapper-bot {
    padding-bottom: 16px;
}

    .wrapper-bot p {
        font-size: 16px;
    }
