
@{
    ViewBag.Title = "Phí giao hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<link href="~/Asset/Client/css/DetailNew.css" rel="stylesheet" />
<div class="duongdan">
    <a href="/trang-chu" title="Trang chủ">
        Trang chủ
    </a>
    <a href="/phi-giao-hang">
        Phí giao hàng
    </a>
</div>

<div class="content">
    <div class="title">
        <div>
            <p>Chính sách và bảng phí giao hàng nội thành Hà Nội</p>
        </div>
        <div class="date">
            <p>17/04/2019</p>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="detail">
        <p><b>QUÀ VẶT VIỆT</b> GỬI TỚI QUÝ KHÁCH HÀNG CHÍNH SÁCH VÀ PHÍ GIAO HÀNG KHU VỰC HÀ NỘI</p><br />
        <p style="text-decoration: underline;">1.DỊCH VỤ ÁP DỤNG: </p> <br />
        <p>-          Tất cả các khách hàng mua sản phẩm của Quà Vặt Việt tại website, facebook, điện thoại, chat trực tuyến qua Yahoo Messenger: quavatviet hoặc qua Hotline: 0939.39.33.61 – 0939.39.33.62</p> <br />
        <p>-          Thời gian đặt hàng: Từ 9h00 – 19h30’ Từ thứ 2 đến thứ 6 hàng tuần. Những đơn hàng từ 19h30 trở đi sẽ được nhận vào ngày hôm sau nếu khách hàng có yêu cầu. Riêng thứ 7 và Chủ Nhật Quà Vặt Việt không bán hàng. Chúng tôi chỉ nhận đơn của khách đặt từ thứ 6.</p><br />
        <p style="text-decoration: underline;">2.      PHƯƠNG THỨC GIAO HÀNG VÀ THANH TOÁN: </p> <br />
        <p>-          Phương thức giao hàng: Quà Vặt Việt nhận Order của khách hàng xong mới chế biến và đóng gói để giao cho khách hàng ngay sau đó. Thời gian tùy thuộc vào số lượng và <a href="/tat-ca-mon-an" style="color:red">món ăn</a> của khách hàng.</p><br />                                                                                                                                                                                                                                                                   <p>-          Phương thức thanh toán: Khách hàng thanh toán giá trị hóa đơn mua hàng và phí Ship (nếu có) sau khi nhận được hàng cho nhân viên giao hàng.</p><br />
        <p>-          Quý khách cũng có thể thanh toán theo hình thức chuyển khoản Vietcombank, MB Bank (Liên hệ để biết thêm thông tin).</p><br />
        <p style="text-decoration: underline;">3.      PHÍ SHIP CỦA KHÁCH HÀNG ĐƯỢC TÍNH NHƯ SAU: </p> <br />
        <p><b>A. Với đơn hàng > 100k  < 200k</b></p>
        <p>Từ 0.5km – 2,5km                         =25k</p><br />
        <p>Từ 3.0km – 5.0km                         =30k</p><br />
        <p>Từ 5.5.0km – 8,0km                      =35 - 45k</p><br />
        <p>Từ 9,0km  Trở lên                         = 50k - 60k</p><br />
        <p><b>B. Với những đơn hàng >200k < 400k</b></p>
        <p>Từ 0.5km – 2,5km                         =20k</p><br />
        <p>Từ 3.0km – 5.0km                         =25k</p><br />
        <p>Từ 5.5.0km – 8,0km                      =30 - 40k</p><br />
        <p>Từ 9,0km  Trở lên                         = 45k - 60k</p><br />
        <p><b>C. Với những đơn hàng > 400k</b></p>
        <p><i> Áp dụng cho những đơn hàng có quãng đường di chuyển <= 4km</i></p>
        <p><i>Phí giao hàng                               = 0</i></p>
        <p><b>Quý khách lưu ý:</b></p>
        <p>
            Phí giao hàng (nếu có) được áp dụng theo quãng đường được tính tương đối theo bản đồ trực tuyến

            https://maps.google.com/ và http://www.diadiem.com/  từ địa chỉ của Quà Vặt Việt đến địa chỉ của quý khách hàng.
        </p>
        <p><b> Mọi thắc mắc của quý khách xin vui lòng gọi vào số điện thoại đường dây nóng: 1900.0090 để được giải đáp.</b></p>
        <p><b>Xin chân thành cảm ơn quý khách!</b></p>
    </div>
    <div class="content-bot">
    </div>
</div>